body {
    background-image: url(../img/space.jpeg);
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

input {
    margin: 40px;
    padding: 10px;
    border: 2px solid green;
    border-radius: 10px;
}

button {
    border-radius: 10px;
    background-color: aqua;
    padding: 10px;
}

li {
    color: white;
}